src/main/resources/xml/aa.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--DTD generated by XMLSpy v2013 (http://www.altova.com)-->
<!ELEMENT price EMPTY>
<!ELEMENT list ((itbook, anyEle+, emptyEle))>
<!ELEMENT itbook ((bookName, author, price, desc))>
<!ELEMENT emptyEle EMPTY>
<!ELEMENT desc EMPTY>
<!ELEMENT bookName EMPTY>
<!ELEMENT author EMPTY>
<!ELEMENT anyEle (#PCDATA | a)*>
<!ELEMENT a EMPTY>
